<ion-header>
  <ion-toolbar>
    <ion-title>Mes Réservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="filter" (ionChange)="loadReservations()">
    <ion-segment-button value="ongoing">En cours</ion-segment-button>
    <ion-segment-button value="past">Passées</ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-card *ngFor="let res of filteredReservations">
      <ion-card-header>
        <ion-card-title>{{res.field.name}} - {{res.slotTime | date:'medium'}}</ion-card-title>
        <ion-card-subtitle>Statut: {{res.status}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Paiement: {{res.paymentType}} via {{res.paymentMethod}}
        <ion-chip *ngFor="let opt of res.selectedOptions">{{opt}}</ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>